<br>
<br>
<br>
<div class="user_mypage">
<div class="melody">
<h2>マイページ</h2>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
<%= image_tag @user.image_url, size: "250x200" if @user.image? %>
<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>
 </div>

<div class="melody2">
<h2>投稿一覧</h2>
<% @user.spots.each do |t| %>
 
  <%= t.user.name %>
  <%= t.link %><br>
      <%= t.title %><br>
      <%= t.address %><br>
      <%= image_tag t.image_url, size: "250x200" if t.image? %><br>

<% end %>

<!-- 以下はいいね機能を実装している場合-->
<h2>いいねした投稿一覧</h2>
<% @user.liked_spots.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>


<%= link_to "Tweet一覧に戻る", spots_path %>
</div>
</div>